{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <h2 class="text-center mb-4">Quem somos</h2>
  <div class="row justify-content-center">

    <!-- Integrante 1 -->
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/integrante1.jpg') }}" class="card-img-top" alt="Integrante 1">
        <div class="card-body">
          <h5 class="card-title">Renato Hilquias Guedes Soares</h5>
          <a href="https://github.com/OmanoRH" class="btn btn-dark m-1" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/renato-hilquias-guedes-soares-41a674251" class="btn btn-primary m-1" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

    <!-- Integrante 2 -->
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/integrante2.jpg') }}" class="card-img-top" alt="Integrante 2">
        <div class="card-body">
          <h5 class="card-title">Lucas Emanuel de Oliveira Costa</h5>
          <a href="https://github.com/Lucas-Emanuel-Costa" class="btn btn-dark m-1" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/lucas-costa-787a5335a/" class="btn btn-primary m-1" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

    <!-- Integrante 3 -->
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/integrante3.jpg') }}" class="card-img-top" alt="Integrante 3">
        <div class="card-body">
          <h5 class="card-title">Ronaldo da Silva Camilo Filho</h5>
          <a href="https://github.com/ronaldocamilo1" class="btn btn-dark m-1" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/usuario3" class="btn btn-primary m-1" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

    <!-- Integrante 4 -->
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem;">
        <img src="{{ url_for('static', filename='img/integrante4.jpg') }}" class="card-img-top" alt="Integrante 4">
        <div class="card-body">
          <h5 class="card-title">Arthur Valões Amorim de Alencar Leite</h5>
          <a href="https://github.com/Arthur-Valoes-Amorim" class="btn btn-dark m-1" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/usuario4" class="btn btn-primary m-1" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
